<!DOCTYPE html>

<body>
    <form id='db_form'>
        <select name="database_type" id="name">
            <option value="mysql">MySQL</option>
            <option value="postgres">PostgreSQL</option>
            <option value="sqlite">SQLite</option>
        </select><br>
        <label>host：<input type="text" name="host" placeholder="host"></label><br>
        <label>port：<input type="text" name="port" placeholder="port"></label><br>
        <label>user_name：<input type="text" name="user_name" placeholder="user_name"></label><br>
        <label>password：<input type="text" name="password" placeholder='password'></label><br>
        <label>database：<input type="text" name="database" placeholder='database'></label><br>
        <button type="submit">送信する</button>
    </form>
    <button id="closeDbConfig">閉じる</button>
    <script src="/static/db_setting.js"></script>
</body>