<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>QueryLens</title>
    <script type="module" src="/static/MainPage.js"></script>
    <script type="module" src="/static/RunQuery.js"></script>
    <script type="module" src="/static/ConfirmCsvFile.js"></script>
</head>

<body>
    <button id="openCsvFileList">解析可能なCSVファイル一覧の確認</button>

    <form id="queryForm">
        <select name="databaseType">
            <option value="mysql">MySQL</option>
            <option value="postgresql">PostgreSQL</option>
            <option value="sqlite">SQLite</option>
        </select>
        <label for="queryInput">クエリ入力欄</label>
        <textarea cols="50" rows="5" id="queryInput" name="query"></textarea>
        <button type="button" id="analysisStartBtn">解析</button>
    </form>

    <p id="errorMessage" style="color: red;"></p>

    <dialog id="csvFileList">
        <h2>解析対象ファイル</h2>
        <small id="csvFilePath"></small>
        <ul id="csvFileItems"></ul>
        <button id="determineCsvFile">解析対象を確定する</button>
        <button id="closeCsvFileList">閉じる</button>
    </dialog>

    <dialog id="confirmAnalyzeTarget">
        <form id="confirmCsvFileForm">
            <button type="button" id="yes" value="1">はい</button>
            <button type="button" id="no" value="0">いいえ</button>
        </form>
    </dialog>

    <dialog id="analysisModal">
        <button id="closeAnalysisModal">閉じる</button>
        <div id="coloredQueryDisplay"></div>
        <div id="intermediateTablesArea">
            <svg id="tables"></svg>
            <table id="analysisResult"></table>
        </div>
    </dialog>
</body>

</html>
